<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Member<%= @user.name %> already comment for <%= @card.name %> </h1>
    
  </body>
</html>