<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
<body>
	  	Let's collaborate!

	<p> Invite you to join the board </p>

	<p> In order to fullfill your register on this app. Please visit this link <a href='<%= @user_url%>'>Profile</a>  </p>

	<a href="<%= root_url %>" >Trallo clone</a> 

  </body>

</html>