<!DOCTYPE html>
<html>x
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>

			  	Let's collaborate!

			<p> Invites you to join the board </p>


			<a href="<%= root_url %>" >Trello clone</a>

  

  
  </body>
</html>