$('#event-<%= @event.board.id %> ul').prepend("<li><%= j(link_to @event.name, board_event_path(@event.board, @event)) %> <%= j(link_to 'Destroy', board_event_path(@event.board, @event), method: :delete, remote: true)%></li>");
$('#event_name').val('');