<div id = "dashboard">
	<% @boards.each do |board| %>

  		<h3 class="board-list" ><%= link_to board.name, board_path(board) %></h3>
  	<% end %>

  <h3 class="board-list"><%= link_to 'Create new board...', new_board_path  %></h3>

</div>
    	
