.list-column {
  width: 210px;
  border: 2px solid #aed2f2;
  background: aliceblue;
  border-radius: 4px;
  margin-right: 28px;
  padding: 4px;
  display: inline-table;
  overflow-y: scroll;
  overflow-x: scroll;
  length :100%;
  height :150px;

}

.card-in-list {
	background-color: white;
    border-radius: 4px;
    padding: 6px;
    margin-bottom: 8px;
    cursor: pointer;
}


ul.cards {
	list-style: none;
    padding: 4px;
    padding-top: 10px;
    border-radius: 4px;
    
}

#list {
	list-style: none;
    padding-left: 0;
    display: inline-flex;
}

.list-title {
  font-weight: 800;
  color: black;
	
}

.card-name {
    text-decoration: none;
    color: black;

}


form input[type='text'] {
	width: 94%;
    padding: 4px;
    margin-bottom: 4px;
    border-radius: 4px;
}

.write-a-comment {
  
  height: 20px;
  text-align: -webkit-left;
  padding: 2px;
  border-bottom: solid 45px transparent
}

.comment-content1 {
    background-color: #e8e3e3;
    padding: 8px;
    border-radius: 4px;
    margin: 4px 0;
    width: 500px;
    height: 50px;
    
}

ul.comments {
  padding-left: 4px;
  overflow-y: auto;
}

.list-trash {
  float: right;
}

.card-trash {
  float: right;
}

.fa {
    font-size: 20px;
}

.label {
  width: 20px;
  height: 20px;
  display: inline-flex;
}

.left {
  width: 60%;
  float: left;
  
}

.right {
    width: 35%;
    float: left;
}

.background {
  background-image: url("background.jpg");
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}