.list-column {
  width: 210px;
  border: 2px solid #aed2f2;
  background: aliceblue;
  border-radius: 4px;
  margin-right: 16px;
  padding: 4px;
  display: inline-table;
}

.card-in-list {
	background-color: white;
    border-radius: 4px;
    padding: 6px;
    margin-bottom: 8px;
    cursor: pointer;
}

ul.cards {
	list-style: none;
    padding: 4px;
    padding-top: 10px;
}

#list {
	list-style: none;
    padding-left: 0;
    display: inline-flex;
}

.list-title {
  font-weight: 800;
  color: black;
	
}

.card-name {
    text-decoration: none;
    color: black;
}


form input[type='text'] {
	width: 94%;
    padding: 4px;
    margin-bottom: 4px
}