.list-column {
  width: 210px;
  float: left;
  border: 2px solid red;
  background: aliceblue;
  margin-right: 4px;
}

.card-in-list {
	width: 200px;
	border: 1px solid blue;
	background: white;
}

ul.cards {
	list-style: none;
    padding: 4px;
    padding-top: 10px;
}

#list {
	list-style: none;
    padding-left: 0;
    display: inline-flex;
}

.list-title {
  font-weight: 800;
  color: black;
	
}